body {
    font-weight: 300;
    font-size: 200%;
    text-align: center;
    background: #fff;
}

header {
    display: flex;
}

p,
ul {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

ul {
    list-style: none;
}

img {
    border-radius: 50%;
}

.projects-paragraph {
    margin-left: 2%;
    margin-top: 2%;
}

.ctr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.image-evan {
    margin-top: 1%
}

.logo {
    height: 10%;
    width: 10%;
}

.p-ucla {
    margin-left: 1.5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.portfolio-items {
    margin-top: 1%;
    margin-bottom: 1%;
}

.contact-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 5%;
    margin-bottom: 2%;
}