body {

 font-weight: 300;
 font-size: 200%;
 /*text-align: center;*/
 background: #fff;
}

p, ul {
   font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 500;

}

.modal-button {
   margin-left: 2%;
   margin-top: 1%;
   margin-bottom: 1%;
}

.portfolio-items {
   margin-left: 3%;
}
